<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}<a href="mailto:someshwarjs.jani@gmail.com"> someshwarjs.jani@gmail.com</a></p>
        {{>footer}}
    </div>
</body>

</html>